<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>weatherByLocation</servlet-name>
        <servlet-class>weather.and.newsapi.weatherByLocation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>weatherByLocation</servlet-name>
        <url-pattern>/weather</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Stocks</servlet-name>
        <servlet-class>weather.and.newsapi.Stocks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Stocks</servlet-name>
        <url-pattern>/stocks</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>